/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Eyelash Corne 48-key layout (used by eyelash_corne_left and eyelash_corne_right).
 * Halves don't process the keymap at runtime (central/dongle does), but
 * the binding count must match the 48-key transform or the build will fail.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T   &kp UP                     &kp Y    &kp U      &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G   &kp LEFT  &kp RET  &kp RIGHT  &kp H    &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B   &kp SPACE            &kp DOWN   &kp N    &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                          &kp LGUI  &mo 1  &mo 2                                   &kp RET  &kp SPACE  &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp TAB     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5   &trans                     &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &trans  &trans  &trans   &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans
&kp LSHFT   &trans        &trans        &trans        &trans        &trans   &kp SPACE            &trans   &trans    &trans    &trans    &trans     &trans  &trans
                                        &kp LGUI      &trans        &trans                                  &kp RET   &trans    &kp RALT
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT   &trans                     &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &trans  &trans  &trans      &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp SPACE            &trans  &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                              &kp LGUI  &trans    &trans                                   &kp RET    &trans     &kp RALT
            >;
        };

        extra_1 { status = "reserved"; };
        extra_2 { status = "reserved"; };
        extra_3 { status = "reserved"; };
    };
};
